html{
    scroll-behavior: smooth;
}
*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #cdc0a6;
}
header{
    box-shadow: 10px 10px 10px darkgray;
    margin: 0;
}
header,nav{
    position:relative;
    background-color: #c3baa9;
    padding-top: 5px;
    padding-bottom: 5px;
}
/* .name{
    color: ;
} */
.index{
    font-size:xx-large;
    font-family: monospace;
    padding: 30px;
    /* color:; */
}
nav a{
    text-decoration: none;
    padding: 30px 30px 18px 30px;
    font-family: monospace;
    /* color:; */
    font-size: x-large;
}
.block:hover, nav a:hover{
    border-collapse: collapse;
    /* background-color:; */
    border-bottom: 3px solid ;
    /* color: ; */
}
.profile_img{
    border-radius: 50%;
    width: 30%;
    float: right;
    position: relative;
    top: -200px;
    left: -200px;
    margin: 0 0 0 15px;
    margin-right: 0;
    filter: drop-shadow(10px 10px 10px darkgrey);
}
.home{
    position: relative;
    top: 50px;
    left: 50px;
    margin: 0 auto;
    width: 1350px;
}
.hello_msg{
    font-size: 2cm;
    position: relative;
    top: 50px;
    margin: 0 15px 0 0;
    /* color: ; */
    text-shadow: 10px 10px 10px darkgrey;
}
.block{
    text-decoration: none;
    width: 15%;
    padding: 15px 50px;
    text-align: center;
    background-color: blueviolet;
    color: black;
    border: 0;
    font-size: larger;
    border-radius: 5px 25px;
    box-shadow: 10px 10px 10px darkgrey
}
.buttons_link{
    position: relative;
    text-decoration: none;
    top: 100px;
}
/* #5EBEC4 */
/* .contacts{
    position: relative;
    top: 2000px;
} */