html{
    scroll-behavior: smooth;
}
*{
    margin: 0;
    padding: 0;
}
header{
    /* border-radius: 0px 15px; */
    box-shadow: 10px 10px 10px darkgrey;
}
header,nav{
    position:relative;
    background-color:#5EBEC4;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 0px;
}
.index, nav a{
    text-decoration: none;
    padding: 30px;
    font-family: monospace;
    color: #fdf5df;
    font-size: x-large;
}
.block:hover,nav a:hover{
    border-collapse: collapse;
    background-color: #fdf5df;    
    border-bottom: 4px solid #5EBEC4;
    color: #5EBEC4;
}
.profile_img{
    border-radius: 50%;
    width: 30%;
    float: right;
    position: relative;
    top: -200px;
    left: -350px;
    margin: 0 0 0 15px;
    filter: drop-shadow(10px 10px 10px darkgrey);
}
.home{
    position: relative;
    top: 50px
}
.hello_msg{
    font-size: 2cm;
    position: relative;
    left: 250px;
    top: 50px;
    margin: 0 15px 0 0;
    text-shadow: 10px 10px 10px darkgrey;
}
.block{
    width: 15%;
    position: relative;
    padding: 15px 30px;
    text-align: center;
    background-color: #5EBEC4;
    color: #fdf5df;
    border: 0;
    font-size: larger;
    left: 250px;
    top: 100px;
    border-radius: 5px 25px;
    box-shadow: 10px 10px 10px darkgrey
}
