html{
    scroll-behavior: smooth;
}
*{
    margin: 0;
    padding: 0;
}
header{
    box-shadow: 10px 10px 10px darkgrey;
    margin: 0;
}
header,nav{
    position:relative;
    background-color:#373833;
    padding-top: 5px;
    padding-bottom: 5px;
}
.name{
    color: #FA2742;
}
.index{
    font-size:xx-large;
    font-family: monospace;
    padding: 30px;
    color: #E8EAE3;
}
nav a{
    text-decoration: none;
    padding: 30px 30px 18px 30px;
    font-family: monospace;
    color: #E8EAE3;
    font-size: x-large;
}
.block:hover,nav a:hover{
    border-collapse: collapse;
    background-color: #E8EAE3;
    border-bottom: 3px solid #373833;
    color: #373833;
}
.profile_img{
    border-radius: 50%;
    width: 30%;
    float: right;
    position: relative;
    top: -200px;
    left: -200px;
    margin: 0 0 0 15px;
    margin-right: 0;
    filter: drop-shadow(10px 10px 10px darkgrey);
}
.home{
    position: relative;
    top: 50px;
    left: 50px;
    margin: 0 auto;
    width: 1350px;
}
.hello_msg{
    font-size: 2cm;
    position: relative;
    top: 50px;
    margin: 0 15px 0 0;
    color: #373833;
    text-shadow: 10px 10px 10px darkgrey;
}
.block{
    width: 15%;
    position: relative;
    padding: 15px 30px;
    text-align: center;
    background-color: #373833;
    color: #E8EAE3;
    border: 0;
    font-size: larger;
    top: 100px;
    border-radius: 5px 25px;
    box-shadow: 10px 10px 10px darkgrey
}
/* #5EBEC4 */